.hero {
  background-color: $hero-footer-color;
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-baner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  color: $primary-white-color;
  min-width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $hero-btn-hover;
  }
}
