.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  margin: 15px;
}

.portfolio__link {
  display: block;

  transition: box-shadow 250ms $cubic-bezier;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
  }

  &:hover .portfolio__text,
  &:focus .portfolio__text {
    transform: translateY(0);
  }
}

.portfolio__thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translateY(101%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $primary-white-color;

  transition: transform 250ms $cubic-bezier;
}

.portfolio__label {
  padding: 20px 25px;
  border: 1px solid $portfolio-item-border;
  border-top: none;
}

.portfolio__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-text-color;
}

.portfolio__description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $alternate-text-color;
}
