.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section__heading--visually-hidden {
  @extend %visually-hidden;
}

.section--padding-top-0 {
  padding-top: 0;
}

.section--personal-bg-color {
  background-color: $personal-bg-color;
}
